# Ignorar archivos del sistema y temporales
.ssh/
.vscode/
AppData/
.cache/
.config/
.node_repl_history
.nuget/
.ntuser.*
*.log
*.tmp
.DS_Store
Thumbs.db
desktop.ini

# Ignorar IDEs y herramientas
.idea/
.vs/

# Ignorar dependencias
node_modules/
package-lock.json

# Ignorar archivos personales
OneDrive/
Downloads/
Documents/
Music/
Favorites/